.col-md-12 {
    padding: 0 10% 3% 10%;
}

#about-block {
    padding-top: 1.5rem;
}

#lifars-block {
    margin-top: -1.5%;
}

h4 {
    padding-bottom: 2%;
}

p {
    font-size: 1.5rem;
    padding-bottom: 1%;
}