.navbar {
  color: #113238;
  background-color: #113238;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.navbar-brand {
  color: #fff !important;
  font-size: 4rem;
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: 400;
  padding-top: 2.5rem;
  padding-bottom: 4.4rem;
}

.footer-brand {
  color: #fff;
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 2rem;
}

.copyright a {
  color: #fff;
}

.footer-brand:hover, .copyright a:hover {
  text-decoration: none;
  color: #fff;
}

ul.nav a {
  color: #fff !important;
  text-transform: uppercase;
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 1.3rem;
  padding-top: 2.5rem;
}

ul.nav a:hover {
  color: #708488 !important;
}

.icon-bar {
  background-color: #fff !important;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
  margin-top: 2rem;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto";
}

p {
  font-family: "Roboto Slab";
}

footer {
  background: #113238;
  width: 100%;
  padding: 2rem 4.7% 2rem 4.7%;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}